body {
  margin: 0;
}

.login-content {
  max-width: 400px;
  height: 300px;
  padding: 20px 30px 30px 30px;
  overflow: auto;
}

.content {
  min-height: 92vh;
  padding: 0px 50px;
}

.txt-center {
  text-align: center;
}

.mt-5 {
  margin-top: 40px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-5 {
  margin-bottom: 40px;
}

.login-messages {
  font-size: 25px;
}

.custom-alert {
  position: absolute;
  bottom: 20px;
  margin-top: 10px;
  z-index: 1;
}

.notifications {
  display: flexbox;
  justify-content: end;
  font-size: 18px;
}
